name: CD GCP

on:
  release:
    types:
      - published

jobs:
  deploy:
    name: Deploy on Google Cloud Run
    runs-on: ubuntu-latest
    environment:
      name: Google Cloud Run
      url: https://nestjs.playground.gcp.kevindescamps.com
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Auth Google
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GOOGLE_GITHUB_ACTION_SA }}

      - name: Setup Gcloud
        uses: google-github-actions/setup-gcloud@v3
        with:
            project_id: kdescamps-playground

      - name: Deploy on Google Cloud Run
        run: make run_deploy
